*.[oa]
junk*
*~

/autom4te.cache/
/Makefile
/config.h
/config.log
/config.status
/ltmain.sh

/dwarfdump/Makefile
/dwarfdump/config.h
/dwarfdump/config.log
/dwarfdump/config.status

/dwarfgen/Makefile
/dwarfgen/config.h
/dwarfgen/config.log
/dwarfgen/config.status

/libdwarf/Makefile
/libdwarf/config.h
/libdwarf/config.log
/libdwarf/config.status

/dwarfdump/dwarfdump
/dwarfdump/tag_attr_build
/dwarfdump/tag_tree_build
/dwarfdump/tmp-*.c
/dwarfdump/tmp-*.tmp

/libdwarf/ar-output-temp
/libdwarf/dwarf_names.[ch]
/libdwarf/dwarf_names_enum.h
/libdwarf/dwarf_names_new.h
/libdwarf/gennames
/libdwarf/libdwarf.h
/libdwarf/libdwarf.so
